name: Release
on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
          ref: release
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - name: Configure npm
        run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Clean Node Modules
        run: rm -rf node_modules
      - name: Install Dependencies
        run: npm install
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Install Rollup Native Dependency
        run: npm install @rollup/rollup-linux-x64-gnu --force
      - name: Build monadyssey-core
        run: npm run build --workspace=packages/monadyssey-core
      - name: Build monadyssey-fetch
        run: npm run build --workspace=packages/monadyssey-fetch
      - name: Run tests
        run: npm run test
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create Pull Request to Main
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr create \
            --base main \
            --head release \
            --title "chore(release): sync release" \
            --body "Automatically created pull request after new release." \
            || echo "PR already exists or no changes to merge"
